<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/icon.png" />
    <title>Mage Spellbook | Inventory Application</title>
  </head>
  <body>
    <h1>Mage Spellbook</h1>
    <%- include("partials/errors.ejs") %>
    <h2><%= element.name %></h2>
    <p><%= element.description %></p>
    <% spells.forEach((spell) => { %>
        <h3><%= spell.name %></h3>
        <p><%= spell.description %></p>
        <p><%= spell.mana %></p>
        <p><%= spell.cooldown %></p>
        <p><%= spell.damage %></p>
        <p><%= spell.range %></p>
    <% }) %>
    <a href="/elements/<%= element.id %>/update">Update Element</a>
    <form
      action="/elements/<%= element.name %>/delete"
      onsubmit="return confirm('Are you sure you want to delete this spell?');"
      method="POST"
    >
      <button type="submit">Delete Element</button>
    </form>
  </body>
</html>
